---
layout: default
title: No Phones in the Bedroom
---

<h1>No Phones in the Bedroom</h1>

<div>
  <h2>Posts</h2>
  <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <h2>Book</h2>
  {% for chapter in site.chapters %}
  <div class="index-chapter">
    <small>Chapter {{ forloop.index }}</small>
    <h2>
      <a href="{{ chapter.url }}">
      {{ chapter.title }}
      </a>
    </h2>
  </div>
  {% endfor %}
</div>