<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex" />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap" rel="stylesheet">
    <style>
      body {
        background-color: rgb(251, 247, 240);
        font-family: 'Merriweather', serif;
        padding: 2.5rem;
        max-width: 500px;
        margin: 0 auto;
      }

      .index-chapter {
        margin: 2rem 0;
      }

      .index-chapter h2 {
        margin: 0;
      }

      h1 {
        font-size: 60px;
        margin-top: 0;
      }

      footer {
        opacity: .5;
        margin-top: 5rem;
        font-size: .9rem;
      }
    </style>
  </head>
  <body>
    {{ content }}
    <footer>&copy; 2019 - {{ 'now' | date: "%Y" }} Josh Couper & Joel Hawksley</footer>
  </body>
</html>